* {
    box-sizing: border-box;
}
.clear{
    clear: both;
}
a{
    color: rgb(60, 60, 60);
}
body{
    margin: 0px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}

header{
    background-color: rgb(255, 255, 255);
    
    color: rgb(60, 60, 60);   
}
.header-logo{
    padding-top:70px;
    margin-top: 0px;
    float: left;
}
header h1{
    font-size: 42px;
    margin-bottom: 2px;
}
header p{
    font-size: 18px;
    margin-top: 0px;
}
.fa-brands{
    color: rgb(60, 60, 60);
    font-size: x-large;
}
.header-SNS{
    float: right;
    margin-top: 120px;
}
.header-instagram{
    float: left;
}
.header-twitter{
    display: inline-block;
    margin-left: 10px;
}
.menu-list{
    list-style-type: none;
    display: flex;
    margin-left: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(60, 60, 60);
}
.menu-list li{
    flex: auto;
    text-align: right;
}
.top-wrapper{
    height: 500px;
    background-image: url(imges/DSC00127.jpg);
    background-size: cover;
}